<div class="modal-header">
    <h3>Sign In!</h3>
</div>
<form name="form.userForm" ng-submit="submitForm(formData)" novalidate>
    <div class="modal-body">

    		<div class="alert alert-danger" ng-if = "err">{{err}}</div>

        <!-- USERNAME -->
        <div class="form-group" >
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="formData.username" ng-minlength="3" ng-maxlength="8" required>
        </div>

        <!-- PASSWORD-->
        <div class="form-group" >
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="formData.password" ng-minlength="3" ng-maxlength="8" required
        </div>

        <center>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </center>



    </div>
    <div class="modal-footer" >
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
