<h3 style="color:#000;"> &nbsp;&nbsp; Add Business</h3>
<hr>

    <div class="modal-body" >


        <div class="form-group">
            <label style="color:#000;" >Username</label>
            <input type="text" name="username" class="form-control w3-round" data-ng-model="business.username"/>
             <label style="color:#000;" >Name</label>
            <input type="text" name="name" class="form-control w3-round" data-ng-model="business.name"/>
             <label style="color:#000;" >Email </label>
            <input type="text" name="email" class="form-control w3-round" data-ng-model="business.email"/>
            <label style="color:#000;" >Category </label>
            <input type="text" name="category" class="form-control w3-round" data-ng-model="business.category"/>
            <label style="color:#000;" >Merchant ID </label>
            <input type="text" name="merchant_ID" class="form-control w3-round" data-ng-model="business.merchant_ID"/>
            
            
        </div>

    </div>
    <div class="modal-footer">
        <button style="color:#000;"  type="submit" class="btn btn-primary" data-ng-click= "addBusiness()"> Add </button>
       <!-- <a style="color:#000;" class="btn btn-warning" ng-click="cancel()">Cancel</a> -->
    </div>



 
  