    

        <section id="about" class="text-center">
            <div  class="container">
<!--                 <div class="row">
 -->                
                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                        <h2>Book<span class="color">ING</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->
                    
                <form ng-model="formData">
<!--                         <div> {{betengan}} </div>
 -->                 <!--    <div ng-repeat="facility in facilities" > --> <!--  ng-if="check business id"-->
                         <!-- <input type="radio" ng-model="$parent.chosen_facility" value="{{facility._id}}" ng-change="choose_facility(facility._id)" >
                          <label>{{facility.name}}</label><br>
                    </div> <br><br> -->
                     <h3> Facility :</h3>
                    <div class="styled-select">                    
                      <select  class="selectpicker" required re data-style="btn-primary" ng-model="chosen_facility">
                      <option disabled selected value>Choose One</option>                      <option ng-repeat="facility in facilities" value="{{facility._id}}">{{facility.name}}</option>
                      </select>
                      </div>

                    <h3> Date  : <input type="date" ng-model="formData.day" required ng-change="choose_date(formData.day)"   ><br></h3>
                       <!--  min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}"  ng-min={{minDate}} ng-max={{maxDate}} -->
                        
                    <h3> Pick a time slot :</h3> 
                      <div ng-repeat="timing in timings | filter : {facility_id:facility} track by $index" ng-if="timing.available > 0 && Date(timing.day) == date && Year(timing.day) == year && Month(timing.day) == month "> <!-- && d == date   -->
                      <input type="radio" required ng-model="formData.chosen_time" name="chosen_time" ng-change="choose_occ({{timing}})" value="{{timing}}">
                       <label><h4>{{"Timings: "+timing.time + " , available: "+timing.available}}</h4></label>                          
                      </div> <br>

                      <h3>Number of people :  
                           <input type="number" style="width: 80px;" required  min="1" max={{max_count}} ng-model="formData.count"></h3>

                     <h3> Special Offers:</h3> <br>
                        <div ng-repeat="offer in offers track by $index" ng-if="offer.type === 'specific audience'">
                          <input type="radio" ng-model="formData.chosen_offer" name="chosen_offer" value="{{offer._id}}">
                          <label><h4>{{"Offer: "+offer.name + "  details: "+offer.details +" value: "+ offer.value}} </h4></label>
                          <br>
                        </div> <br><br>
                        

                    <button type="submit" class="btn btn-transparent" ng-click="book()"> BOOK </button>
                       </form>

                    
                </div>
                        <!-- End row -->

            </div>      <!-- End container -->
        </section>   <!-- End section -->
        
        <!--
        Start Main Features
        ==================================== -->
        <section id="main-features">
            <div class="container">
                <div class="row">
                    
                    <!-- features item -->
                    <div id="features">
                        <div class="item">
                            
                            <div class="features-item">
                                
                               

                                
                                <!-- features content -->
                                
                                <!-- /features content -->
                                
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="features-item">
                                                            
                                <!-- features content -->
                                <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <h3>Details:</h3>
                                    <p>Details of facility/event to be booked goes here</p>
                                  
                                    <a href="#" class="btn btn-transparent">Learn More</a>
                                    <a href="#" class="btn btn-transparent">Purchase Theme</a>
                                </div>
                                <!-- /features content -->
                                
                            </div>
                        </div>
                    </div>
                    <!-- /features item -->
                    
                </div>      <!-- End row -->
            </div>      <!-- End container -->
        </section>   <!-- End section -->
           

        <a href="javascript:;" id="scrollUp">
            <i class="fa fa-angle-up fa-2x"></i>
        </a>
        

       
        <!-- Main jQuery -->
        
         <!-- <script src="/bower_components/angular-route/angular-route.js"></script> -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="javascript/core.js"></script>
        <script src="javascript/controllers/bookingController.js"></script> 
        <script src="javascript/services/bookingService.js"></script> 
       

    </body>
</html>