        <section id="about" class="text-center">
            <div ng-controller="bookingController" class="container">
<!--                 <div class="row">
 -->                
        
                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                        
                        <h2>Book<span class="color">ING</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->
                    
                   
                      <form ng-model="formData">
                        <h3>Number of people  :  <input type="Number" ng-model="formData.count" min = {{min}} max = {{max}}><br></h3>
                       
                        <div> {{betengan}} </div>
                        <div ng-show="offers.length">
                            <h3> Special Offers:</h3> <br>

                            <div ng-repeat="offer in offers" ng-if="offer.type === 'specific audience'">

                              <input type="radio" ng-model="formData.chosen_offer" name="chosen_offer" value="{{offer.value}}">

                              <label>{{"Offer: "+offer.name + "  details: "+offer.details +" value: "+ offer.value}}</label>
                              <br>

                            </div> <br>
                        </div>
                        <div ng-show="cash">
                        <button type="submit" class="btn btn-transparent" ng-click="book_cash()"> BOOK NOW AND PAY CASH</button>
                        </div>
                        <button type="submit" class="btn btn-transparent" ng-click="open_stripe()"> BOOK NOW WITH STRIPE</button>

                       </form>
                       <br><br>
                        <a href="#!/book_facility">CLICK ME CLICK ME</a>
                    
                </div>
                        <!-- End row -->

            </div>      <!-- End container -->
        </section>   <!-- End section -->
        
        <!--
        Start Main Features
        ==================================== -->
        <section id="main-features">
            <div class="container">
                <div class="row">
                    
                    <!-- features item -->
                    <div id="features">
                        <div class="item">
                            
                            <div class="features-item">
                                
                               

                                
                                <!-- features content -->
                                
                                <!-- /features content -->
                                
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="features-item">
                                                            
                                <!-- features content -->
                                <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <h3>Details:</h3>
                                    <p>Details of facility/event to be booked goes here</p>
                                  
                                    <a href="#" class="btn btn-transparent">Learn More</a>
                                    <a href="#" class="btn btn-transparent">Purchase Theme</a>
                                </div>
                                <!-- /features content -->
                                
                            </div>
                        </div>
                    </div>
                    <!-- /features item -->
                    
                </div>      <!-- End row -->
            </div>      <!-- End container -->
        </section>   <!-- End section -->