   

        <section id="about" class="text-center">
            <div  class="container">
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                        <h2>Book<span class="color">ING</span></h2>
                        <div class="border"></div>
                    </div>
                    
                <form ng-model="formData" >
                    <div class="styled-select ">    
                     <h3> Facility </h3>                
                      <select  class="selectpicker" style="width: 300px;color:#000;" required re data-style="btn-primary" ng-model="chosen_facility">
                      <h3><option disabled selected value>Choose One</option></h3>                 
                      <option ng-repeat="facility in facilities" value="{{facility._id}}">{{facility.name}}</option>
                      </select>
                    </div>

                     <!-- <div class = "container3"> -->  
                      <h3> Date <br> <br>
                      <input type="date" style="color:#000;width: 300px;" ng-model="formData.day" required ng-change="choose_date(formData.day)"><br></h3><br>
                       <!--  min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}"  ng-min={{minDate}} ng-max={{maxDate}} -->
                      <!-- </div> -->
                     
                       <h3> Time slot(s) available :</h3> 
                      <div ng-repeat="timing in timings | filter : {facility_id:facility} " ng-if="timing.available > 0 && Date(timing.day) == date && Year(timing.day) == year && Month(timing.day) == month " class="container3"> <!-- && d == date   -->
                      <input type="radio" required ng-model="formData.chosen_time" name="chosen_time" ng-change="choose_occ({{timing}})" value="{{timing}}">
                       <label><h4>{{"Timings: "+timing.time + " , available: "+timing.available}}</h4></label>                          
                      </div><br>

                      <h3>Booking for 
                           <input type="number" style="width: 70px; color:#000;" required  min="1" max={{max_count}} ng-model="formData.count"> person(s).</h3>

<!--                      <h3> Special Offers:</h3> <br>
                     <div style = "margin: auto; max-width: 100%; ">
                        <div style="text-align: left width: 800px; margin:0 auto;" ng-repeat="offer in offers track by $index" ng-if="offer.type === 'specific_audience'">
                          <input type="radio"  ng-model="formData.chosen_offer" name="chosen_offer" value="{{offer._id}}">
                          <label><h4>{{"Offer: "+offer.name + "  details: "+offer.details +" value: "+ offer.value}} </h4></label>
                          <br>
                        </div> <br><br>
                        </div>
 -->
                        <div>
                          <div class="container2">
                            <ul>
                             <h3 style="padding-bottom: 0px"> Special Offers: </h3><hr>
                              <li ng-repeat="offer in offers track by $index" ng-if="offer.type === 'specific_audience'">
                                <input type="radio" id = {{$index}} ng-model="formData.chosen_offer" name="chosen_offer" value="{{offer.value}}">
                                <label for = {{$index}}> <h4>{{"Offer: "+offer.name}} {{"value:" + offer.value}} <br>{{"details:" +offer.details}}</h4> </label>
                                <div class="check"></div>
                              </li>
                            </ul>
                         
                        </div>
                        </div>
                        <!-- </div> -->

                        {{error_message}}

                    <div ng-show="cash">
                        <button type="submit" ng-if="type == 1|| type == 4" class="btn btn-transparent" ng-disabled="!chosen_facility || !formData.day || !formData.chosen_time || !formData.count " ng-click="book_cash()"> BOOK NOW AND PAY CASH</button>
                    </div>
                        <button type="submit" ng-if="type == 1" class="btn btn-transparent" ng-disabled="!chosen_facility || !formData.day || !formData.chosen_time || !formData.count " ng-click="open_stripe()"> BOOK NOW WITH STRIPE</button>
                </form>

                  
                    
                </div>
                        <!-- End row -->

            </div>      <!-- End container -->
        </section>   <!-- End section -->
        
        <!--
        Start Main Features
        ==================================== -->
       
           

        <a href="javascript:;" id="scrollUp">
            <i class="fa fa-angle-up fa-2x"></i>
        </a>
        

       
        <!-- Main jQuery -->
        
         <!-- <script src="/bower_components/angular-route/angular-route.js"></script> -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <!-- <script src="javascript/core.js"></script>
        <script src="javascript/controllers/bookingController.js"></script> 
        <script src="javascript/services/bookingService.js"></script> --> 
       

    </body>
</html>