<center>
       <section id = "blog-page">
            <div style="max-width: 400px;" ng-app = "fasa7ny" ng-controller = "businessController">
                <form ng-model = "formData" >
                  <h3>Description </h3><br>
                <textarea style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.description" rows="5" cols="70"> </textarea><br>
                <!-- <input class="w3-input w3-border w3-round" type="text" ng-model = "formData.description"></input> <br> -->
                <h3>Location</h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.location"></input> <br>
                <h3>Email</h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.email"></input> <br>
                <h3>Address</h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.address"></input> <br>
                <h3>Area<h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.area"></input> <br>
                <h3>Phone<h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.phones"></input> <br>
                <h3>Payment Method</h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="text" ng-model = "formData.payment_methods"></input> <br>
                <h3>Password</h3> <br>
                <input style="color:#000;" class="w3-input w3-border w3-round" type="password" ng-model = "formData.password"></input> <br>
                <button type="submit" ng-click = "goToEdit()" class="btn btn-transparent">Edit Information</button>

            </form>
            </div>
   </section>
<center>
