<script src="js/jquery-1.11.0.min.js">

</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slitslider.js"></script>
<script src="js/jquery.ba-cond.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/easyPieChart.js"></script>
<script src="js/jquery.easing-1.3.pack.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/custom.js"></script>
<script>
    var image2 = document.getElementById('profilepic');
    var buttonUpload = document.getElementById('uploadButton');

    image2.addEventListener('click', function () {
        buttonUpload.style.display = "inline-block";
    });

    buttonUpload.addEventListener('click', function () {
        buttonUpload.style.display = "none";
    });
</script>
<!-- <script src="js/jquery.scrollUp.min.js"></script> -->
<!-- <script src="js/classie.js"></script> -->

<div ng-if="type == 4" class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;background-color:#2B2C30;"
    id="rightMenu">
    <!-- <div class="w3-grey"> -->
    <button ng-if="type == 4" onclick="closeRightMenu()" class=" w3-button w3-large" style="background-color:#2B2C30;">&times;</button>
    <center>
        <input ng-if="type == 4 && business.delete == 0" type="submit" value="Request Removal" ng-click="remove()" class="btn btn-transparent">
        <input ng-if="type == 4 && business.public == 0" type="submit" value="Make Page Public" ng-click="public()" class="btn btn-transparent">
        <input ng-if="type == 4" type="submit" value="Create a Facility" ng-click="createFacility(business._id)" class="btn btn-transparent">
        <input ng-if="type == 4" type="submit" value="Create One-Time Event" ng-click="createOneEvent(business._id)" class="btn btn-transparent">

        <form ng-click="businessEdit()" method="get">
            <input ng-if="type == 4" type="submit" value="Edit Information" class="btn btn-transparent">
        </form>
        <input ng-if="type == 4" type="submit" value="View Statistics" ng-click="viewStats()" class="btn btn-transparent">



    </center>
    <!-- </div> -->
</div>


<section id="blog-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center uploadPic">
                <form id="hiddenForm" onsubmit="javascript: return false;">
                    <!-- edit profile pic !-->
                    <div class="image-upload" style="float: left: 0; right: 0; margin: 0 auto;">
                        <label for="file-input">
                            <div class="container2 image-cropper" >
                              <img ng-src='http://localhost:3000/photo/{{business.profilePicture}}' alt="Avatar" id = "profilepic" class="image" style="width:100%;">
                              <div class="middle">
                                <div ng-if = "type == 4" style="font-size: 20px; color:lightgrey;"> Change profile picture</div>
                              </div>
                            </div>
                        </label>
                        <input ng-if="type == 4" id="file-input" type="file" file-model="formData.img" />
                        <br>
                        <button ng-if="type == 4" class="btn btn-booking" id="uploadButton" ng-click="changeImage(user._id)" style="display:block; margin: 0 auto; display: none;"> Upload  </button>

                        <!-- full name & email display !-->
                        <div class="blog-title" style="margin: 0 auto;">
                            <h1> {{ business.name }}
                                <span>
                                <span style="font-size:140%;color:#90EE90;">&bigstar;</span>
                                <span style="font-size:70%;color:#90EE90;">{{ avgRate }}
                                <span style="font-size:40%;#90EE90 ;"> / 5</span></span>
                                </span>
                            </h1>
                        </div>
                    </div>

                </form>

            </div>
            <!-- End col-lg-12 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End Section -->


</div>
<section id="blog-page">
    <div class="container">
        <div class="row">

            <div id="blog-posts" class="col-md-8 col-sm-8">
                <div class="post-item">

                    <article class="entry wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">

                        <br>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner" role="listbox" style="position: relative; margin: 0 auto">
                                <div class="item active" ng-if="image1">
                                    <div class="crop">
                                        <img ng-if="image1" ng-src="http://localhost:3000/photo/{{image1}}" alt="business image" width="460" height="340">
                                    </div> &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="type == 4 && image1" class="btn btn-transparent"
                                        ng-click="deleteImage(image1)"> Delete Image </button>
                                </div>


                                <div class="item" ng-if="image2">
                                    <div class="crop">
                                        <img ng-if="image2" ng-src="http://localhost:3000/photo/{{image2}}" alt="3D Beach Art | Meghna" width="460" height="340">
                                    </div> &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="type == 4 && image2" class="btn btn-transparent"
                                        ng-click="deleteImage(image2)"> Delete Image </button>
                                </div>


                                <div class="item" ng-if="image3">
                                    <div class="crop">
                                        <img ng-if="image3" ng-src="http://localhost:3000/photo/{{image3}}" alt="3D Beach Art | Meghna" width="460" height="340">
                                    </div> &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="type == 4 && image3" class="btn btn-transparent"
                                        ng-click="deleteImage(image3)"> Delete Image </button>
                                </div>


                                <div class="item" ng-if="image4">
                                    <div class="crop">
                                        <img ng-if="image4" ng-src="http://localhost:3000/photo/{{image4}}" alt="3D Beach Art | Meghna" width="460" height="340">
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="type == 4 && image4" class="btn btn-transparent"
                                        ng-click="deleteImage(image4)"> Delete Image </button>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- </div> -->


                        <!-- END LAILA SLIDER !-->


                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="type == 4" class="btn btn-transparent" ng-click="addImage()"
                            ng-disabled="imagelength == 4"> &nbsp;&nbsp;Add Image &nbsp;&nbsp;</button>
                        <hr width="40%">
                        <div class="post-excerpt">
                            <p>{{ business.description }}</p>

                        </div>

                    </article>
                    <!-- End Single Post -->

                </div>


            </div>

            <!-- Widget Section -->
            <div id="right-sidebar" class="col-md-4 col-sm-4">

                <div style="background-color:#2B2C30;">

                    <button class="w3-button w3-xlarge w3-right" style="background-color:#2B2C30;" onclick="openRightMenu()" ng-if="type == 4">&#9776;</button>
                    <div class="w3-container">


                        <section id="blog-page">
                            <div class="container">
                                <div class="row">

                                    <div id="blog-posts" class="col-md-8 col-sm-8">
                                        <div class="post-item">

                                            <article class="entry wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                                <div id="post-thumb">
                                                    <div ng-if="image1" class="item">
                                                        <center ng-if="image1">
                                                            <img ng-if="image1" src="../img/blog/bicycle.jpg" alt="business image" class="img-responsive">
                                                            <!-- <img src="http://127.0.0.1:3000/api/public/uploads/{{ image }}" alt="business image" class="img-responsive"> -->
                                                        </center>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="image1" class="btn btn-transparent"
                                                            ng-click="deleteImage(image1)"> Delete Image </button>
                                                    </div>
                                                    <div ng-if="image2" class="item">
                                                        <center ng-if="image2">
                                                            <img ng-if="image2" src="../img/portfolio/port1.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                                        </center>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="image2" class="btn btn-transparent"
                                                            onclick="deleteImage(image2)"> Delete Image </button>
                                                    </div>
                                                    <div ng-if="image3" class="item">
                                                        <center ng-if="image3">
                                                            <img ng-if="image3" src="../img/portfolio/portfolio.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                                        </center>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="image3" class="btn btn-transparent"
                                                            onclick="deleteImage(image3)"> Delete Image </button>
                                                    </div>
                                                    <div ng-if="image4" class="item">
                                                        <center ng-if="image4">
                                                            <img ng-if="image4" src="../img/portfolio/wide-port1.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                                        </center>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="image4" class="btn btn-transparent"
                                                            onclick="deleteImage(image4)"> Delete Image </button>
                                                    </div>
                                                    <div ng-if="image5" class="item">
                                                        <center ng-if="image5">
                                                            <img ng-if="image5" src="../img/portfolio/wide-port1.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                                                        </center>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button ng-if="image5" class="btn btn-transparent"
                                                            onclick="deleteImage(image5)"> Delete Image </button>
                                                    </div>
                                                </div>

                                                <!-- Single Widget -->
                                                <aside class="widget wow fadeInDown">


                                                    <div class="widget-content">
                                                        <div>
                                                            <ul class="rating">
                                                                <li ng-repeat="n in [].constructor(maxRating) track by $index" ng-if="type == 1">
                                                                    <span ng-click="rateBy($index+1, business._id)" ng-show="ratedBy > $index" class="filled" ng-if="type == 1">&#9733;</span>
                                                                    <span ng-click="rateBy($index+1, business._id)" ng-show="ratedBy <= $index">&#9733;</span>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <br>
                                                        <input ng-if="type == 1" type="submit" value="{{sub}}" ng-click="check == 1 ? unsubscribe(business._id) : subscribe(business._id)"
                                                            class="btn btn-transparent">
                                                    </div>


                                        </div>

                                        <!-- Widget Section -->
                                        <div id="right-sidebar" class="col-md-4 col-sm-4">

                                            <div style="background-color:#2B2C30;">

                                                <button class="w3-button w3-xlarge w3-right" style="background-color:#2B2C30;" onclick="openRightMenu()">&#9776;</button>
                                                <div class="w3-container">
                                                    <br>
                                                    <hr>
                                                    <br>
                                                    <br>
                                                    <!-- Single Widget -->
                                                    <aside class="widget wow fadeInDown">
                                                        <div class="widget-title">
                                                            <h3>Categories</h3>
                                                        </div>
                                                        <div class="widget-content">
                                                            <ul class="categories">
                                                                <li ng-repeat="category in categories"><i class="fa fa-plus"></i> <a href="#">{{ category }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </aside>
                                                    <!-- End Single Widget -->
                                                    <aside class="widget wow fadeInDown">
                                                        <div class="widget-title">
                                                            <h3>Business' Information</h3>
                                                        </div>
                                                        <div class="widget-content">
                                                            <li>Area: {{ business.area }}</li>
                                                            <li>Address: {{ business.address }}</li>
                                                            <li>Phone Numbers: </li>
                                                            <!-- <li ng-repeat = "phone in phones"> {{ phone }} <button ng-click="phonelength == 1 ? deletePhone(0):deletePhone(phone)" style="color:#000;"> delete <button> </li> -->
                                                            <li ng-repeat="phone in phones"> {{ phone }}
                                                                <a ng-if="type == 4" ng-click="phonelength == 1 ? deletePhone(0):deletePhone(phone)"><span class="glyphicon glyphicon-trash"></span> </a>
                                                            </li>
                                                            <li>Email: {{ business.email }}</li>
                                                            <li>Payment Methods: </li>
                                                            <!-- <li ng-repeat = "method in methods"> {{ method }} <button ng-click="paymentlength == 1 ? deletePaymentMethod(0):deletePaymentMethod(method)" style="color:#000;"> delete <button></li> -->
                                                            <li ng-repeat="method in methods"> {{ method }}
                                                                <a ng-if="type == 4" ng-click="paymentlength == 1 ? deletePaymentMethod(0):deletePaymentMethod(method)"><span class="glyphicon glyphicon-trash"></span> </a>
                                                            </li>
                                                        </div>
                                                        <div class="widget-content">
                                                        </div>
                                                    </aside>
                                                </div>
                                            </div>




                                            <div class="w3-container">



                                                <button ng-if="facilitylength" onclick="myFunction('Demo1')" class="btn btn-transparent">Check Our Facilities</button>

                                                <div id="Demo1" class="w3-hide w3-container">
                                                    <br>
                                                    <div id="primary" class="sidebar-right">
                                                        <div class="container group">
                                                            <div class="row">
                                                                <!-- START CONTENT -->
                                                                <div ng-repeat="facility in facilities" id="content-blog" class="span9 content group">

                                                                    <div style="background-color:#2B2C30;" class="post type-post status-publish format-video sticky hentry category-web-design hentry-post group blog-small">
                                                                        <!-- post featured & title -->

                                                                        <div style="background-color:#2B2C30;" class="thumbnail">
                                                                            <div style="background-color:#2B2C30;" class="row">
                                                                                <!-- post featured -->
                                                                                <div class="image-wrap span4">
                                                                                    <hr>
                                                                                    <img style="width: auto\9;height: auto;max-width: 100%; vertical-align: middle;border: 0; -ms-interpolation-mode: bicubic;"
                                                                                        width="365" height="340" src="http://localhost:3000/photo/{{facility.image}}"
                                                                                        class="attachment-blog_small wp-post-image"
                                                                                        alt="3" />
                                                                                    <hr>
                                                                                    <center>
                                                                                        <button ng-if="type == 4" ng-controller="facilityController" class="btn btn-transparent" ng-click="goToEditFacility(facility._id)"> Edit Facility </button>
                                                                                        <button ng-if="type == 4" ng-controller="facilityController" class="btn btn-transparent" ng-click="deleteFacility(facility._id)"> Delete Facility </button>
                                                                                        <button ng-if="type == 4" ng-controller="facilityController" class="btn btn-transparent" ng-click="addDaily(facility._id,facility.description,facility.capacity, facility.name)"> Add Event </button>
                                                                                        <button ng-controller="facilityController" class="btn btn-transparent" ng-click="viewEvents(facility._id)"> View Events </button>
                                                                                        <hr style="border: 0.5px solid #90EE90">
                                                                                        <center>
                                                                                </div>

                                                                                <!-- post title -->
                                                                                <div class="span5">
                                                                                    <h2 class="post-title">
                                                                                        <h3>{{facility.name}}</h3>
                                                                                    </h2>
                                                                                    <hr width="60%">
                                                                                    <div class="the-content">
                                                                                        <p>
                                                                                            <h4>Capacity</h4> {{facility.capacity}}
                                                                                            </p>
                                                                                        <hr width="60%">
                                                                                        <p> {{facility.description}}</p>

                                                                                    </div>
                                                                                </div>

                                                                                <div class="clear"></div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button ng-controller="businessController" ng-if="facilitylength" class="btn btn-transparent w3-green" ng-click="bookFacility()">Book Now!</button>
                                                    <hr>
                                                </div><br>

                                                <!-- </div> -->
                                                <button ng-if="eventlength" onclick="myFunction('Demo2')" class="btn btn-transparent">Check Our Events&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                <div id="Demo2" class="w3-hide w3-container">
                                                    <br>
                                                    <div id="primary" class="sidebar-right">
                                                        <div class="container group">
                                                            <div class="row">
                                                                <!-- START CONTENT -->
                                                                <div ng-repeat="event in events" id="content-blog" class="span9 content group">

                                                                    <div style="background-color:#2B2C30;" class="post type-post status-publish format-video sticky hentry category-web-design hentry-post group blog-small">
                                                                        <!-- post featured & title -->

                                                                        <div style="background-color:#2B2C30;" class="thumbnail">
                                                                            <div style="background-color:#2B2C30;" class="row">
                                                                                <!-- post featured -->
                                                                                <div class="image-wrap span4">
                                                                                    <center><button class="btn btn-transparent" ng-click="getEvent(event._id)"> View Event </button>
                                                                                        <hr style="border: 0.5px solid #90EE90">
                                                                                        <center>
                                                                                </div>

                                                                                <!-- post title -->
                                                                                <div class="span5">
                                                                                    <h2 class="post-title">
                                                                                        <h3>{{event.name}}</h3>
                                                                                    </h2>
                                                                                    <hr width="60%">
                                                                                    <div class="the-content">
                                                                                        <p>
                                                                                            <h4>Location</h4> {{event.location}}
                                                                                            </p>
                                                                                        <hr width="60%">
                                                                                        <p> {{event.description}}</p>

                                                                                    </div>
                                                                                </div>

                                                                                <div class="clear"></div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                 </div>
                                                            </ul>
                                                    </div>

                                                    <br>
                                                    <button ng-click="schedule(business._id)" class="btn btn-transparent"> Check My Schedule &nbsp; </button>
                                                    <br>


                                                    <button onclick="myFunction('Demo3')" class="btn btn-transparent">Check Our Offers&nbsp;&nbsp;&nbsp;&nbsp;</button>

                                                    <div id="Demo3" ng-controller="ViewOffersController" class="w3-hide w3-container">
                                                        <br>
                                                        <button ng-if="type == 4" ng-click="schedule(business._id)" class="btn btn-transparent"> Check My Schedule </button>
                                                        <div id="primary" class="sidebar-right">
                                                            <div class="container group">
                                                                <div class="row">
                                                                    <!-- START CONTENT -->
                                                                    <div ng-repeat="offer in offers" id="content-blog" class="span9 content group">
                                                                        <div style="background-color:#2B2C30;" class="post type-post status-publish format-video sticky hentry category-web-design hentry-post group blog-small">
                                                                            <!-- post featured & title -->

                                                                            <div style="background-color:#2B2C30;" class="thumbnail">
                                                                                <div style="background-color:#2B2C30;" class="row">
                                                                                    <!-- post featured -->
                                                                                    <div class="image-wrap span4">
                                                                                        <hr>
                                                                                        <img class="img-center" width="300" height="260" ng-src="http://localhost:3000/photo/{{offer.image}}" class="attachment-blog_small wp-post-image"
                                                                                            alt="3" />
                                                                                        <hr>
                                                                                        <center>
                                                                                            <button ng-if="type == 4" class="btn btn-transparent" ng-controller="EditOffersController" ng-click="editOffer(offer._id,offer.type)"> Edit Offer </button>
                                                                                            <button ng-if="type == 4" class="btn btn-transparent" ng-controller="DeleteOffersController" ng-click="deleteOffer(offer._id)"> Delete Offer </button>
                                                                                            <hr style="border: 0.5px solid #90EE90">
                                                                                            <center>
                                                                                    </div>

                                                                                    <!-- post title -->
                                                                                    <div class="span5">
                                                                                        <h2 class="post-title">
                                                                                            <h3>{{offer.name}}</h3>
                                                                                        </h2>
                                                                                        <hr width="60%">
                                                                                        <div class="the-content">
                                                                                            <hr width="60%"> Details:
                                                                                            <p> {{offer.details}}</p>

                                                                                        </div>
                                                                                        <div class="the-content">
                                                                                            <hr width="60%"> Value:
                                                                                            <p> {{offer.value}}</p>

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="clear"></div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </div>

                                                </div>


                                            </div>
                                            <!-- End container -->
                                            <!--start reviews form -->
                                            <h1 class="text-center">Reviews </h1>

                                            <div class="container">
                                                <div class="row">
                                                    <!-- Contenedor Principal -->
                                                    <div class="comments-container">

                                                        <ul id="comments-list" class="comments-list">
                                                            <li ng-repeat="review in business.reviews track by $index">
                                                                <div class="comment-main-level">
                                                                    <!-- Avatar -->
                                                                    <div class="comment-avatar"><img src="http://localhost:3000/photo/3b7dcf53262649c287d00ae4c0a7dc44"
                                                                            alt=""></div>
                                                                    <!-- Contenedor del Comentario -->
                                                                    <div class="comment-box">

                                                                        <div class="comment-head">
                                                                            <h6 class="comment-name">{{review.user.name}}</h6>

                                                                            <span style="margin-top: 10px">{{review.timestamp | date: 'd MMM, yy h:mm a '}} <i ng-click="deleteReview(review)" class="delete glyphicon glyphicon-trash"></i></span>

                                                                            <i ng-click="upvote(review)" class="vote fa fa-chevron-up"></i>                                                                            <br>
                                                                            <i class="fa">{{review.votes}}</i> <br>
                                                                            <i ng-click="downvote(review)" class="vote fa fa-chevron-down"></i>

                                                                        </div>
                                                                        <div class="comment-content">
                                                                            {{review.review}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Respuestas de los comentarios -->
                                                                <ul class="comments-list reply-list">
                                                                    <li ng-repeat="reply in review.replies">
                                                                        <!-- Avatar -->
                                                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                                                alt=""></div>
                                                                        <!-- Contenedor del Comentario -->
                                                                        <div class="comment-box">
                                                                            <div class="comment-head">
                                                                                <h6 ng-if="reply.authorType == 'user'" class="comment-name">{{reply.user.name}}</h6>
                                                                                <h6 ng-if="reply.authorType == 'business'" class="comment-name by-author"> {{business.name}}</h6>
                                                                                <span style="margin-top: 10px">{{reply.timestamp | date: 'd MMM, yy h:mm a ' }} <i ng-click="deleteReply(review, reply)" class="delete glyphicon glyphicon-trash"></i></span>


                                                                            </div>
                                                                            <div class="comment-content">
                                                                                {{reply.reply}}
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>

                                                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                                                alt=""></div>

                                                                        <div class="comment-box">
                                                                            <div class="comment-head">
                                                                                <h6 class="comment-name">User name: </h6>

                                                                            </div>
                                                                            <div class="comment-content">
                                                                                <ng-form name="replyForm">
                                                                                    <input ng-model="replyBody" class="w3-input w3-border-green" type="text" placeholder="Add reply.." required>
                                                                                    <br>
                                                                                    <button ng-click="addReply(review._id, replyBody)" class="w3-button w3-green" type="submit">Post</button>
                                                                                </ng-form>

                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="comment-main-level">
                                                                    <!-- Avatar -->
                                                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                                            alt=""></div>
                                                                    <!-- Contenedor del Comentario -->
                                                                    <div class="comment-box">
                                                                        <div class="comment-head">
                                                                            <h6 class="comment-name">User name: </h6>

                                                                        </div>
                                                                        <div class="comment-content">

                                                                            <input ng-model="reviewBody" class="w3-input w3-border-green" type="text" placeholder="Add review.." required>
                                                                            <br>
                                                                            <button ng-click="addReview()" class="w3-button w3-green" type="submit">Post</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                        </section>
                        <!-- End Section -->


                        <div class="social-icon">
                            <ul>
                                <li ng-if="business.facebookURL"><a ng-if="business.facebookURL" href="{{ business.facebookURL}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li ng-if="business.twitterURL"><a ng-if="business.twitterURL" href="{{ business.twitterURL}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li ng-if="business.youtubeURL"><a ng-if="business.youtubeURL" href="{{ business.youtubeURL}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
            


<!--reviews styling -->

<style>
    /**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
    
    a {
        color: #03658c;
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
    }
    /** ====================
 * Lista de Comentarios
 =======================*/
    
    .delete:hover {
        color: red;
    }
    
    #delete:hover {
        color: red;
    }
    
    .comments-container {
        margin: 60px auto 15px;
        width: 70%;
    }
    
    .comments-container h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
    }
    
    .comments-container h1 a {
        font-size: 18px;
        font-weight: 700;
    }
    
    .comments-list {
        margin-top: 30px;
        position: relative;
    }
    /**
 * Lineas / Detalles
 -----------------------*/
    
    .comments-list:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #c7cacb;
        position: absolute;
        left: 32px;
        top: 0;
    }
    
    .comments-list:after {
        content: '';
        position: absolute;
        background: #c7cacb;
        bottom: 0;
        left: 27px;
        width: 7px;
        height: 7px;
        border: 3px solid #dee1e3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    
    .reply-list:before,
    .reply-list:after {
        display: none;
    }
    
    .reply-list li:before {
        content: '';
        width: 60px;
        height: 2px;
        background: #c7cacb;
        position: absolute;
        top: 25px;
        left: -55px;
    }
    
    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }
    
    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }
    
    .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
    }
    /**
 * Avatar
 ---------------------------*/
    
    .comments-list .comment-avatar {
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 99;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
    
    .comments-list .comment-avatar img {
        width: 100%;
        height: 100%;
    }
    
    .reply-list .comment-avatar {
        width: 50px;
        height: 50px;
    }
    
    .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
    }
    /**
 * Caja del Comentario
 ---------------------------*/
    
    .comments-list .comment-box {
        width: 680px;
        float: right;
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }
    
    .comments-list .comment-box:before,
    .comments-list .comment-box:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 10px 12px 10px 0;
        border-style: solid;
        border-color: transparent #FCFCFC;
        top: 8px;
        left: -11px;
    }
    
    .comments-list .comment-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0, 0, 0, 0.05);
        left: -12px;
    }
    
    .reply-list .comment-box {
        width: 610px;
    }
    
    .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }
    
    .comment-box .comment-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    
    .comment-box .comment-head .vote:hover {
        color: #03658c;
    }
    
    .comment-box .comment-head .delete:hover {
        color: red;
    }
    
    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }
    
    .comment-box .comment-name a {
        color: #283035;
    }
    
    .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
    }
    
    .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }
    
    .comment-box .comment-name.by-author,
    .comment-box .comment-name.by-author a {
        color: #03658c;
    }
    
    .comment-box .comment-name.by-author:after {
        content: 'business';
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    /** =====================
 * Responsive
 ========================*/
    
    @media only screen and (max-width: 766px) {
        .comments-container {
            width: 480px;
        }
        .comments-list .comment-box {
            width: 390px;
        }
        .reply-list .comment-box {
            width: 320px;
        }
    }
</style>


