<script>

</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" onclick="closeNav()">&times; </a>
    <div id="search-form">
        <form>
            <input type="text" class="form-control" placeholder="Search..." autocomplete="on" name="seach" ng-model="keyword">
            <button type="submit" title="Search" id="search-submit">
        <i class="fa fa-search"></i>
    </button>
            <div class="form-group">
                <label for="sortOptions">Sort by: </label> <br>
                <select width="20" id="sortOptions" ng-model="sortBy"> 
                <option value="none">None </option>        
                <option value="average_rating">Rating </option>
                <option value="area">Area</option>
                <option value="name">Name</option>                   
            </select>
            </div>
            <label ng-show="sortBy != '' && sortBy != 'none'" for="checkbox">Sort ascending: </label>
            <input ng-show="sortBy != '' && sortBy != 'none'" id="checkbox" type="checkbox" ng-click="check()" ng-model="checked">

            <div class="form-group">
                <label for="category">Category: </label> <br>
                <select width="20" id="category" ng-model="cat"> 
            <option value="all">All</option>                           
            <option value="fun">Fun </option>
            <option value="escape rooms">Escape Rooms</option>
            <option value="travel">Travel</option>
            <option value="adventure">Adventure</option>                   
        </select>
            </div>


        </form>
        <br>




        <div class="form-group">
            <label for="area">Area:</label> <br>
            <select width="20" id="area" ng-model="area">
          <option ng-repeat="ar in areas" value="{{ar}}">{{ar}}</option>
      </select>
        </div>

        <div class="form-group">
            <label for="min-rating">Minimum rating: </label> <br>
            <input id="min-rating" type="number" min="0.0" max="5.0" step="0.1" ng-model="minRating">
        </div>

    </div>
</div>


<div id="main">
    <span onclick="openNav()"> <i style="size: 50px" class="fa fa-bars"></i> </span>
    <div ng-repeat="business in businesses | category: cat | filter: keyword | orderBy: sortBy : direction " ng-if="business.average_rating >= $parent.minRating">
        <img ng-src="/uploads/image" alt="">

        <h3>{{business.name}} </h3>
        <b>Description: </b> {{business.description}} <br>
        <b>Address </b> {{business.address}} <br>
        <b>Area: </b> {{business.area}} <br>
        <b>Average rating: </b> {{business.average_rating}} <br>
        <b>Category: </b>
        <span ng-repeat="category in business.category">
                {{category}}
            </span>
        <br>
        <a href="/#!/business/{{business.name}}">View page >> </a>
    </div>
</div>

<style>
    #search-form {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
        border: 10px;
        border-color: aquamarine;
        transition: 0.2s;
    }
    
    select {
        border-radius: 12px;
        color: #111;
        outline: none;
    }
    
    
    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.2s;
        /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }
    /* When you mouse over the navigation links, change their color */
    
    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
</style>