<section class="bg-one"  ng-init="options=false">
    <div class="container" >
        <div class="row" >
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms">

                <br><br>

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms" style="padding-bottom: 30px">
                    <h2>Sign <span class="color">Up</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <form name="form.userForm" ng-submit="submitForm(formData)" novalidate>

                    <!-- 1st part -->
                    <div ng-hide= "options"> 
                        <div class="modal-body" >

                          <div class="alert alert-danger" ng-if = "err1">{{err1}}</div>

                            <!-- EMAIL -->
                            <div class="form-group" >
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" ng-model="formData.email" required>
                                <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>

                            <!-- USERNAME -->
                            <div class="form-group" >
                                <label>Username</label>
                                <input type="text" name="username" class="form-control" ng-model="formData.username" ng-minlength="3" ng-maxlength="100" required>
                                <p ng-show="form.userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                                <p ng-show="form.userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                            </div>

                            <!-- PASSWORD-->
                            <div class="form-group" >
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" ng-model="formData.password" ng-minlength="1" ng-maxlength="100" required>
                                <p ng-show="form.userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                                <p ng-show="form.userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                            </div>


                        </div>

                        <br>
                        <hr>

                        <div style = "float: right; padding-right: 16px">
                            <button class="btn btn-transparent" ng-mousedown="options=true">Next</button>
                        </div>
                    </div>
                    <!-- end 1st part -->


                    <!-- 2nd part -->
                    <div ng-show = "options">

                        <div class="modal-body" >

                          <div class="alert alert-danger" ng-if = "err1">{{err1}}</div>

                            <!-- NAME -->
                            <div class="form-group" >
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">Your name is required.</p>
                            </div>


                            <!-- Address-->
                            <div class="form-group" >
                                <label>Address</label>
                                <input type="text" name="address" class="form-control" ng-model="formData.address">
                                <p ng-show="form.userForm.address.$invalid && !form.userForm.address.$pristine" class="help-block">Enter a valid address.</p>
                            </div>

                            <!-- Phone-->
                            <div class="form-group" >
                                <label>Phone</label>
                                <input type="text" name="phone" class="form-control" ng-model="formData.phone" required>
                                <p ng-show="form.userForm.phone.$invalid && !form.userForm.phone.$pristine" class="help-block">Your phone is required.</p>
                            </div>

                            <!-- Birthdate-->
                            <div class="form-group" >
                                <label>Birthdate</label>
                                <input type="date" name="birthdate" class="form-control" ng-model="formData.birthdate" required>
                                <p ng-show="form.userForm.birthdate.$invalid && !form.userForm.birthdate.$pristine" class="help-block">Enter a valid date</p>
                            </div>

                            <!-- Gender-->
                            <div>
                                <label>Gender</label>
                                <select ng-model="formData.gender">
                                      <option value="" disabled selected></option>
                                      <option value="Male">Male</option>
                                      <option value="Female" selected="selected">Female</option>
                                      <option value="Other">Other</option>
                                </select>
                            </div>

                        </div>


                        <br>
                        <hr>

                        <div style = "float: right; padding-right: 16px">
                            <a class="btn btn-transparent" ng-click="cancel()">Cancel</a>
                            <button type="submit" class="btn btn-transparent" ng-disabled="form.userForm.$invalid">Done</button>
                        </div>
                    </div>
                    <!-- end 2nd part -->

                </form>
            </div>
        </div>
    </div>
</section>
