<section  class="bg-one" ng-if = "!forgot">
    <div class="container" ng-if = "!forgot">
        <div class="row" ng-if = "!forgot">
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms">

                <br><br>

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms" style="padding-bottom: 30px">
                    <h2> Sign <span class="color"> In </span></h2>
                    <div class="border"></div>
                    <br>
                    <p>Don't yet have an account?  
                        <a href = "" ng-click = "signUp()"> Sign Up Now.</a> 
                    </p>
                </div>
                <!-- /section title -->


                <form name="form.userForm" ng-submit="submitForm(formData)" ng-if = "!forgot" novalidate>
                    <div class="modal-body" ng-if = "!forgot">  
                    	<div class="alert alert-danger" ng-if = "err">{{err}}</div>

                            <!-- USERNAME -->
                            <div class="form-group" ng-if = "!forgot">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control" ng-model="formData.username" ng-minlength="3" ng-maxlength="100" required>
                            </div>

                            <!-- PASSWORD-->
                            <div class="form-group" ng-if = "!forgot" >
                                <label>Password &nbsp; <a ng-click = "forgotPassword()" data-dismiss="modal" style="font-size: 12px; font-weight: 1"> (Forgot Password?)</a></label>
                                <input type="password" name="password" class="form-control" ng-model="formData.password" ng-minlength="1" ng-maxlength="100" required>
                            </div>
                    </div>

                    <br>

                    <div>
                        <center>
               
                            <a href="" ng-click = "facebook()">
                                <img border="0" alt="facebook" src="img/login_facebook4.png" >
                            </a>

                            &nbsp;

                            <a href="http://54.187.92.64:3000/auth/google">
                                <img border="0" alt="google" src="img/login_google4.png" >
                            </a>
                        </center>
                  </div>

                  <br>
                  <hr>

                    <div style = "float: right; padding-right: 16px"ng-if = "!forgot">
                        <a class="btn btn-transparent" ng-click="cancel()">Cancel</a>
                        <button type="submit" class="btn btn-transparent" ng-disabled="form.userForm.$invalid">OK</button>
                    </div>

                </form>
                <br><br><br><br>
            </div>
        </div>
    </div>
</section>