<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
<section id="counter" class="parallax-section">
    <div class="container">
        <div class="row" style="margin: auto">
            <div style=" margin:0 auto; ">
                <!-- first count item -->
                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item kill-margin-bottom">
                        <!--<div style="text-size: 0px; opacity: 0">
                            <span data-speed="3000" data-to="{{allStats.sales}}">{{allStats.sales}}</span>
                        </div>-->
                        <i style="padding-top: 50px; color: #4bb056" class="fa fa-line-chart w3-jumbo"></i>
                        <h3>Statistics</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="{{allStats.views}}"> {{allStats.views}} </span>
                        </div>
                        <i class="fa fa-eye fa-3x"></i>
                        <h3>Page Views</h3>
                    </div>
                </div>
                <!-- end first count item -->

                <!-- second count item -->
                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="{{allStats.subscriptions}}">{{allStats.subscriptions}}</span>
                        </div>
                        <i class="fa fa-check-square fa-3x"></i>
                        <h3>Subscriptions</h3>
                    </div>
                </div>
                <!-- end second count item -->

                <!-- third count item -->
                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="{{allStats.rating}}">{{allStats.rating}}</span>
                        </div>
                        <i class="fa fa-star fa-3x"></i>
                        <h3>Rating</h3>

                    </div>
                </div>
                <!-- end third count item -->

                <!-- fourth count item -->
                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item kill-margin-bottom">
                        <div>
                            <span data-speed="3000" data-to="{{allStats.attendees}}">{{allStats.attendees}}</span>
                        </div>
                        <i class="fa fa-users fa-3x"></i>
                        <h3>Attendees</h3>
                    </div>
                </div>
                <!-- end fourth count item -->


                <div class="col-md-2 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item kill-margin-bottom">
                        <div>
                            <span data-speed="3000" data-to="{{allStats.sales}}">{{allStats.sales}}</span>
                        </div>
                        <i class="fa fa-money fa-3x"></i>
                        <h3>Sales</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>


<!-- end section -->

<div class="title text-center wow fadeIn">
    <h2 class="color">{{title}}</h2>
    <div class="border"></div>
</div>

<section class="w3-margin-top">
    <div class="container">
        <div class="row">

            <center class="col-md-8">
                <canvas class="col-lg-8 chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick" ng-cloak>
                </canvas>
            </center>

            <div class="col-md-4">
                <div class="row">
                    Weekly: <input class="w3-radio" type="radio" value="week" ng-model="type"> Monthly: <input class="w3-radio"
                        type="radio" value="month" ng-model="type"> Yearly: <input class="w3-radio" type="radio" value="year"
                        ng-model="type">
                    <div ng-show="type == 'week'">
                        <label for="start-date">Start date: </label>
                        <input id="start-date" ng-model="startDate" type="date" name=""> <br>
                        <label for="end-date">Start date: </label>
                        <input id="end-date" ng-model="endDate" type="date" name="">
                    </div>

                    <div ng-show="type == 'month'">
                        <label for="start-month"> Start month: </label>
                        <input id="start-month" ng-model="startMonth" type="number" min="1" max="12" step="1">
                        <label for="start-month"> End month: </label>
                        <input type="number" ng-model="endMonth" min="1" max="12" step="1">

                    </div>
                    <br>
                    <div ng-show="type == 'year' || type == 'month'">
                        <label for="start-year">Start year: </label>
                        <input id="start-year" ng-model="startYear" type="number" name="start" min="1900" max="2099" step="1">
                        <label for="end-year">End year: </label>
                        <input id="end-year" ng-model="endYear" type="number" name="end" min="1900" max="2099" step="1">
                    </div>
                    <!--<div ng-show="type != 'year' && type != 'week' && type != 'month'">
                        <div class="w3-tag w3-jumbo w3-green">
                            Choose statistics range.
                        </div>
                    </div>-->

                </div>
                <div class="row">
                    <button class="btn btn-transparent" type="button" ng-disabled="disableButton" ng-click="getStats()">Get Stats</button>
                </div>
            </div>

        </div>

    </div>
    </div>

</section>

<style>
.styled-select {
        background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
        height: 29px;
        overflow: hidden;
        width: 240px;
    }
    
    .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        /* If you add too much padding here, the options won't show in IE */
        width: 268px;
    }
    
    .styled-select.slate {
        background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
        height: 34px;
        width: 240px;
    }
    
    .styled-select.slate select {
        border: 1px solid #ccc;
        font-size: 16px;
        height: 34px;
        width: 268px;
    }
    /* -------------------- Rounded Corners */
    
    .rounded {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    
    .semi-square {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    /* -------------------- Colors: Background */
    
    .slate {
        background-color: #ddd;
    }
    
    .green {
        background-color: #4bb056;
    }
    
    .blue {
        background-color: #3b8ec2;
    }
    
    .yellow {
        background-color: #eec111;
    }
    
    .black {
        background-color: #000;
    }
    /* -------------------- Colors: Text */
    
    .slate select {
        color: #000;
    }
    
    .green select {
        color: #fff;
    }
    
    .blue select {
        color: #fff;
    }
    
    .yellow select {
        color: #000;
    }
    
    .black select {
        color: #fff;
    }
    /* -------------------- Select Box Styles: danielneumann.com Method */
    /* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
    
    #mainselection select {
        border: 0;
        color: #EEE;
        background: transparent;
        font-size: 20px;
        font-weight: bold;
        padding: 2px 10px;
        width: 378px;
        *width: 350px;
        *background: #58B14C;
        -webkit-appearance: none;
    }
    
    #mainselection {
        overflow: hidden;
        width: 350px;
        -moz-border-radius: 9px 9px 9px 9px;
        -webkit-border-radius: 9px 9px 9px 9px;
        border-radius: 9px 9px 9px 9px;
        box-shadow: 1px 1px 11px #330033;
        background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
    }
    /* -------------------- Select Box Styles: stackoverflow.com Method */
    /* -------------------- Source: http://stackoverflow.com/a/5809186 */
    
    select#soflow,
    select#soflow-color {
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 20px;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 300px;
    }
    
    select#soflow-color {
        color: #fff;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
        background-color: #779126;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding-left: 15px;
    }
    
    color: white
}
</style>