<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <h1>{{title}} </h1>
                <canvas class="col-lg-8 chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick" ng-cloak>
                </canvas>



            </div>
            <div class="col-lg-4">
                <div class="row">
                    Weekly: <input type="radio" value="week" ng-model="type"> Monthly: <input type="radio" value="month"
                        ng-model="type"> Yearly: <input type="radio" value="year" ng-model="type">
                    <div ng-show="type == 'week'">
                        <label for="start-date">Start date: </label>
                        <input id="start-date" ng-model="startDate" type="date" name=""> <br>
                        <label for="end-date">Start date: </label>
                        <input id="end-date" ng-model="endDate" type="date" name="">
                    </div>

                    <div ng-show="type == 'month'">
                        <label for="start-month"> Start month: </label>
                        <input id="start-month" ng-model="startMonth" type="number" min="1" max="12" step="1">
                        <label for="start-month"> End month: </label>
                        <input type="number" ng-model="endMonth" min="1" max="12" step="1">

                    </div>
                    <br>
                    <div ng-show="type == 'year' || type == 'month'">
                        <label for="start-year">Start year: </label>
                        <input id="start-year" ng-model="startYear" type="number" name="start" min="1900" max="2099" step="1">
                        <label for="end-year">End year: </label>
                        <input id="end-year" ng-model="endYear" type="number" name="end" min="1900" max="2099" step="1">
                    </div>

                </div>

            </div>
            <button class="btn btn-transparent" type="button" ng-disabled="disableButton" ng-click="getStats()">Get Stats</button>            {{test}}
        </div>
    </div>
    </div>

</section>

<style>
    input {
        color: black;
        border-radius: 8px;
        outline: none;
    }
</style>