
                
     
        
              <section id="about" class="text-center">
            <div align="right" style="max-width: 400px;ng-controller="webAdminController" class="container">
<!--                 <div class="row">

 -->                
                            <!-- ADD Business -->
      <!--                       <br><br>
        Username: 
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model= "business.username"/>
        <br >
        Name: 
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model="business.name">
        <br >
        Email:
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model="business.email">
        <br >
        Merchant_ID:
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model="business.merchant_ID">
        <br >
        Category:
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model="business.category">
        <br >
        <button  data-ng-click= "addBusiness()"> Add Business </button>
        <br> -->

 <button class="btn btn-transparent" ng-click="addBusinesspop()"> Add Business </button>
<br>

<button class="btn btn-transparent" ng-click="addAdspop()"> Add Advertisement </button>
  <!--                       Add Ads
<br>
<br>
                       
        Text: 
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model= "advertisement.text"/>
        <br >
        Image: 
        <input style="color:#000;" class="w3-input w3-border w3-round" type="text" data-ng-model="advertisement.filename">
        <br >
        Start Date  : <input type="date" ng-model="advertisement.sdate" required  ><br>

                            <br>
        End Date  : <input type="date" ng-model="advertisement.edate" required  ><br>                            
        <br >
        <button  data-ng-click= "addAds()"> Add Advertisment </button>
        <br>
 -->
        <br> <br>
        <!-- <button data-ng-click= "viewDeletedBusinesses" > Show Removal Requests </button>   -->
        <ul>
                <li data-ng-repeat= "request in requests">{{ request.username }} <button data-ng-click = "deleteBusiness(request)"> Delete</button></li>
            </ul>
        

        
                        <!-- End row -->

            </div>      <!-- End container -->
        </section>   <!-- End section -->
        
        <!--
        Start Main Features
        ==================================== -->
        <section id="main-features">
            <div class="container">
                <div class="row">
                    
                    <!-- features item -->
                    <div id="features">
                        <div class="item">
                            
                            <div class="features-item">
                                
                               

                                
                                <!-- features content -->
                                
                                <!-- /features content -->
                                
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="features-item">
                                                            
                                <!-- features content -->
                                <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <h3>Details:</h3>
                                    <p>Details of facility/event to be booked goes here</p>
                                  
                                    <a href="#" class="btn btn-transparent">Learn More</a>
                                    <a href="#" class="btn btn-transparent">Purchase Theme</a>
                                </div>
                                <!-- /features content -->
                                
                            </div>
                        </div>
                    </div>
                    <!-- /features item -->
                    
                </div>      <!-- End row -->
            </div>      <!-- End container -->
        </section>   <!-- End section -->