
            <div ng-controller = 'webAdminController' class= 'container'>
         WEBADMMINNNNNNNNNNN
<!-- 
            <ul>
                <li data-ng-repeat= "request in requests">{{ request.name }}</li>
            </ul>
        Username: 
        <input type="text" data-ng-model= "business.username"/>
        <br />
        Password: 
        <input type="text" data-ng-model="business.password">
        <br />
        Email:
        <input type="text" data-ng-model="business.email">
        <br />
        <button data-ng-click= "addBusiness()"> Add Business </button> -->
        </div>
      
  