<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Admin Profile Page</h1>
		
		<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
	<p>Add Buiness</p>
	<form action="/admin/add_business" method="post">
	<div class="form-group">
		<label>Name</label>
			<input type="text" class="form-control" name="name">
		</div>
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>
	
		
		<div class="form-group">
			<label>merchant id</label>
			<input type="text" class="form-control" name="merchant_ID">
		</div>
		<div class="form-group">
		<!-- temp -->
			<label>Category</label>
			<input type="number" class="form-control" name="category">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Add Business</button>
	</form>

	<p>Remove Buiness</p>
	<form action="/admin/add_business" method="post">
	<div class="form-group">
		<label>Name</label>
			<input type="text" class="form-control" name="name">
		</div>
	
		<div class="form-group">
		<!-- temp -->
			<label>Category</label>
			<input type="number" class="form-control" name="category">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Add Business</button>
	</form>

		<!-- <a href="/create-business" class="btn btn-default btn-sm">Add Business</a> -->

</div>
</body>
</html>