<!DOCTYPE html>
<html>
<head>
	<title>Business</title>
</head>
<body>
		<form action = "/event/" method="get">
		<input type="submit"  name="edit" value="Events"></input> 

		</form>

		<form action = "/event/view" method="post">
		<input type="submit"  name="edit" value="View All Events"></input> 

		</form>

		<form action = "/event/viewO" method="post">
		Event ID: <br>
		<input type = "text" name="id" required></input> <br>
		<input type="submit"  name="edit" value="View All Occurrences"></input> 

		</form>

		<form action = "/business/requestRemoval" method="post">
		<input type="submit"  name="requestRemoval" value="Request Removal"></input> 

		</form>

		<form action = "/business/deletePhone" method="post">
		Phone to be deleted: <br>
		<input type = "text" name="phone" required></input> <br>
		<input type="submit"  name="del" value="Delete Phone"></input> 
		</form>

		<form action = "/business/deletePaymentMethod" method="post">
		Payment method to be deleted: <br>
		<input type = "text" name="payment" required></input> <br>
		<input type="submit"  name="del" value="Delete Payment"></input> 
		</form>

		<form action = "/business/editInformation" method="post">
		
 		Description: <br>
 		<input type="text" name="description"></input> <br>
 		Location: <br>
 		<input type="text" name="location"></input> <br>
 		Email: <br>
 		<input type="text" name="email"></input> <br>
 		Address: <br>
 		<input type="text" name="address"></input> <br>
 		Area: <br>
 		<input type="text" name="area"></input> <br>
 		Phone: <br>
 		<input type="text" name="phones"></input> <br>
 		Payment Method: <br>
 		<input type="text" name="payment_methods"></input> <br>
<input type="submit"  name="edit" value="Edit Information"></input> 

	</form>

</body>
</html>