<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Make Page Public: </h1>
    <form action = "/business/publicPage" method="post">
    <input type="submit"><br> </button>
    </form>
  </body>
</html>
