<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>hi hi hi hi</p>

	<form action = "/bookings/createRegUserBookings" method="post">

	<input type="text" name="count" value="3"><br>
  <input type="text" name="event" value="3"><br>
	<input type="submit"> create booking </button>

	</form>

	<form action = "/bookings/viewRegUserBookings" method="post">

	<input type="submit"> view booking </button>

	</form>

	<form action = "/bookings/deleteRegUserBookings" method="post">

	<input type="text" name="booking" value=""><br>
	<input type="submit"> delete booking </button>

	</form>

	<form action = "/bookings/editRegUserBookings" method="post">

	<input type="text" name="booking" value=""><br>
  <input type="text" name="count" value="count"><br>
	<input type="submit"> edit certain events booking </button>

	</form>

</body>
</html>
